<header class="container w-75 mx-auto">
  <h1>Angular : exercices</h1>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <!-- 
          Utilisation de la directive routerLink
          pour gérer la navigation entre les routes 
        -->
        <a class="nav-link" [routerLink]="'/'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/portfolio'">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/game'">Jeu</a>
      </li>
    </ul>
  </nav>
</header>

<main class="container w-75 mx-auto">
  <!-- Ajouter la directive (balise HTML spécifique) pour afficher les composants des routes -->
  <router-outlet></router-outlet>
</main>

<footer class="container w-75 mx-auto">
  <p>Under WTFL &copy; 2020 Julien Noyer</p>
</footer>